/* .box{
    height: 200px;
    width: 200px;
   background: linear-gradient(to right , yellow 50%,white 50%);
    border: 2px solid black;

} */
*{
    margin: 0px;
    padding: 0px;
}
body{
    text-transform: capitalize;
}
img{
    height: 300px;
    /* width: 100%; */
}
.food{
    border: 1px solid  antiquewhite;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 5px 5px 12px 2px gray;
    background-color: #d6f7ec;
}

.container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}  
/* smaller device */
@media screen and (max-width :576px) {
    .container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 20px;
    }   
}
@media screen and (min-width :577px ) and (max-width :992px) {
    .container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 20px;
    }  
    .food{
        background-color: #a4a4f1;
    }
}